
<link rel="stylesheet" type="text/css" href="static/flex.css">
<div id="titletext">
Welcome to Tweety! (jyao413)
</div>
<body><header><h1><ul class="my-list-style">
                        <li class="my-list-style"><a href='/'>Home</a></li>
                        <li class="my-list-style"><a href='broadcast_box'>public broadcast</a></li>
                        <li class="my-list-style"><a href='receiver_box'>private message</a></li>
                        <li class="my-list-style"><a href='online'>Online</a></li>
                        <li class="my-list-style"><a href='away'>Away</a></li>
                        <li class="my-list-style"><a href='block'>Block users</a></li>
                        <li class="my-list-style"><a href='signout'>Signout</a></li>
                        </ul></header></body></h1>
<h2></h2>
<div id="users">
Online Users

<ul class="list-group">
    {% for user in user_list %}
        <li class="list-group-item"> {{user['username']}}</li>
    {% endfor %}
</ul>
</div>
<div id="demo">

<ul class="broadcast-style">
    <h3>Broadcasts</h3>

    {% for broadcast in message_list%}
        <li class="broadcast-style">{{broadcast['message']}}
        <p>{{broadcast['loginserver_record']}} Sent at:{{broadcast['sender_created_at']}}</p></li>
    {% endfor %}
</ul>

</div>

<div id="blockbox">
<form action="/block_user" method="post" enctype="multipart/form-data">
User to show broadcast from: <input type="text" name="Message"/><br/>
<input type="submit" value="Show broadcasts"/></form>
    {% for broadcast in filter_list%}
        <li class="broadcast-style">{{broadcast['message']}}
        <p>{{broadcast['loginserver_record']}} Sent at:{{broadcast['sender_created_at']}}</p></li>
    {% endfor %}
</div>

<div id="nothing">
</div>



<script src="/static/index.js">
</script>

